<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--    <include resource="org/springframework/cloud/gcp/autoconfigure/logging/logback-appender.xml"/>-->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/home/leviathan/source-code/source-code/java/jetbrain/jwt-a01/log/spring-boot-logger.log</file>
        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>${FILE_LOG_PATTERN}</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 10 MegaBytes -->
            <fileNamePattern>
                /home/leviathan00/source_code/source-code/java/jetbrain/jwt-a01/log/archived/spring-boot-logger-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <root level="TRACE">
        <appender-ref ref="FILE"/>
    </root>
    <root level="DEBUG">
        <!--        <appender-ref ref="STACKDRIVER"/>-->
        <appender-ref ref="FILE"/>
    </root>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <!--        <appender-ref ref="STACKDRIVER"/>-->
        <appender-ref ref="FILE"/>
    </root>
</configuration>
